torch==1.13.1
torchvision==0.14.1
kornia==0.6.7
antialiased-cnns
efficientnet_pytorch
timm
trimesh
transforms3d
einops
moviepy
pyrender
open3d
scipy
Pillow
tensorboard
matplotlib
pytorch-lightning=1.5.4
scikit-image @ https://github.com/JamieWatson683/scikit-image/archive/single_mesh.zip
rerun-sdk==0.5.1
